html {
    background-color: hotpink;
}

h1 {
    background-color: black;
    text-align: center;
    font-weight: bold;
    color:orange;
}

h2 {
    background-color: orange;
    text-align:left;
    font-weight:600;
    color:black;
}

h3 {
    text-align:center;
    font-size:x-large;
    font-weight:bolder;
    color:orange;
}

p {
    background-color: black;
    text-align: center;
    font-weight:500;
    color: orange;
}

p.BobRoss {
    font-size:large;
    font-weight:bold;
}

p.Happy {
    font-size:large;
    font-weight:bold;
}

p.Tree {
    font-size:large;
    font-weight:bold;
}

ul {
    background-color:black;
    text-align:center;
    font-size:larger;
    font-weight:bold;
    color:orange;
}

li {
    background-color:red;
    text-align:justify;
    color:black;
}

li.tomato {
font-size:medium;
font-weight:500;
color:lime;
}

li.potato {
    font-size:medium;
    font-weight:500;
    color:gold;
}

li.beanbag {
    font-size:medium;
    font-weight:500;
    color:orange;
}

div {
    background-color: navy;
}

img {
    border:250px;border:solid;color:orange;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}